In [1]:
#https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

In [2]:
#import necessary libraries
import numpy as np 
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.offline as offline
import plotly.graph_objs as go

In [3]:
plotly.tools.set_credentials_file(username='akurgat', api_key='Jud1SQj1lbS6w5pznJgt')

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/emmagrimaldi/Capstone_Predicting_Storm_Damages/master/all_storms.csv')
df.head()

,STATE,CZ_TYPE,EVENT_TYPE,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,...,YEAR,BEGIN_MONTH,BEGIN_DAY,BEGIN_TIME,END_MONTH,END_DAY,END_TIME,DURATION_DAYS,DURATION_HOURS,DURATION_MINUTES
0,MISSOURI,C,Thunderstorm Wind,2000-01-03 07:30:00,CST,03-JAN-00 07:30:00,0,0,0,0,...,2000,1,3,07:30:00,1,3,07:30:00,0,0,0
1,MISSOURI,C,Thunderstorm Wind,2000-01-03 08:20:00,CST,03-JAN-00 08:20:00,0,0,0,0,...,2000,1,3,08:20:00,1,3,08:20:00,0,0,0
2,MISSOURI,C,Thunderstorm Wind,2000-01-03 08:50:00,CST,03-JAN-00 09:00:00,3,0,0,0,...,2000,1,3,08:50:00,1,3,09:00:00,0,0,10
3,ILLINOIS,C,Thunderstorm Wind,2000-01-03 09:18:00,CST,03-JAN-00 09:22:00,0,0,0,0,...,2000,1,3,09:18:00,1,3,09:22:00,0,0,4
4,ILLINOIS,C,Thunderstorm Wind,2000-01-03 09:22:00,CST,03-JAN-00 09:24:00,0,0,0,0,...,2000,1,3,09:22:00,1,3,09:24:00,0,0,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136629 entries, 0 to 136628
Data columns (total 32 columns):
STATE                136629 non-null object
CZ_TYPE              136629 non-null object
EVENT_TYPE           136629 non-null object
BEGIN_DATE_TIME      136629 non-null object
CZ_TIMEZONE          136629 non-null object
END_DATE_TIME        136629 non-null object
INJURIES_DIRECT      136629 non-null int64
INJURIES_INDIRECT    136629 non-null int64
DEATHS_DIRECT        136629 non-null int64
DEATHS_INDIRECT      136629 non-null int64
DAMAGE_PROPERTY      136629 non-null float64
DAMAGE_CROPS         136629 non-null float64
BEGIN_RANGE          111132 non-null float64
BEGIN_AZIMUTH        111132 non-null object
END_RANGE            111143 non-null float64
END_AZIMUTH          111143 non-null object
MAGNITUDE_TYPE       136629 non-null object
MAGNITUDE            136629 non-null float64
BEGIN_LAT            136629 non-null float64
BEGIN_LON            136629 non-null float64
END_LAT              136629 non-null float64
END_LON              136629 non-null float64
YEAR                 136629 non-null int64
BEGIN_MONTH          136629 non-null int64
BEGIN_DAY            136629 non-null int64
BEGIN_TIME           136629 non-null object
END_MONTH            136629 non-null int64
END_DAY              136629 non-null int64
END_TIME             136629 non-null object
DURATION_DAYS        136629 non-null int64
DURATION_HOURS       136629 non-null int64
DURATION_MINUTES     136629 non-null int64
dtypes: float64(9), int64(12), object(11)
memory usage: 33.4+ MB

In [6]:
df.describe()

,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,BEGIN_RANGE,END_RANGE,MAGNITUDE,BEGIN_LAT,...,END_LAT,END_LON,YEAR,BEGIN_MONTH,BEGIN_DAY,END_MONTH,END_DAY,DURATION_DAYS,DURATION_HOURS,DURATION_MINUTES
count,136629.000000,136629.000000,136629.000000,136629.000000,1.366290e+05,1.366290e+05,111132.000000,111143.000000,136629.000000,136629.000000,...,136629.000000,136629.000000,136629.000000,136629.000000,136629.000000,136629.000000,136629.000000,136629.000000,136629.000000,136629.000000
mean,0.022726,0.001442,0.001793,0.000315,2.323206e+05,1.927959e+04,1.926844,1.944180,46.107280,37.531665,...,37.530947,-87.427239,2009.708949,6.152325,15.622379,6.152325,15.623887,0.000622,0.005277,2.597201
std,0.508372,0.099208,0.052079,0.020061,1.080682e+07,5.156925e+05,3.184539,3.243857,19.801036,4.291979,...,4.292798,8.313270,4.733570,2.080314,8.790264,2.080314,8.790335,0.065544,0.139247,6.051537
min,0.000000,0.000000,0.000000,0.000000,1.000000e+01,0.000000e+00,0.000000,0.000000,0.000000,17.700900,...,17.700900,-159.530000,2000.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,2.000000e+03,0.000000e+00,0.000000,0.000000,50.000000,33.990000,...,33.990000,-93.059700,2006.000000,5.000000,8.000000,5.000000,8.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,5.000000e+03,0.000000e+00,1.000000,1.000000,50.000000,37.550000,...,37.550000,-86.540000,2010.000000,6.000000,16.000000,6.000000,16.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,1.500000e+04,0.000000e+00,2.000000,2.000000,55.000000,41.080000,...,41.080000,-81.310000,2013.000000,7.000000,23.000000,7.000000,23.000000,0.000000,0.000000,3.000000
max,88.000000,22.000000,7.000000,3.000000,2.300000e+09,1.000000e+08,185.000000,185.000000,126.000000,65.180000,...,65.180000,-46.530000,2018.000000,12.000000,31.000000,12.000000,31.000000,18.000000,15.000000,59.000000

In [7]:
event_types = list(df['EVENT_TYPE'].value_counts().index)
event_types

['Thunderstorm Wind',
 'Hail',
 'Marine Thunderstorm Wind',
 'Marine Strong Wind',
 'Tornado',
 'Marine High Wind',
 'Flash Flood',
 'Marine Hail']

In [8]:
data = []
for event in event_types:
    event_data = dict(
            lat = df.loc[df['EVENT_TYPE'] == event,'BEGIN_LAT'],
            lon = df.loc[df['EVENT_TYPE'] == event,'BEGIN_LON'],
            name = event,
            marker = dict(size = 8, opacity = 0.5),
            type = 'scattermapbox'
        )
    data.append(event_data)

mapbox_access_token = 'pk.eyJ1IjoiYWt1cmdhdCIsImEiOiJjanoyc3ByZWwwMGJ2M2NzNGM1dTlocGZzIn0.Ic2lo-f1OxZ1dqBxCATgzg'

layout = dict(
    height = 800,
    margin = dict(t=0, b=0, l=0, r=0),
    font = dict(color='#FFFFFF', size=11),
    paper_bgcolor = '#000000',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=38,
            lon=-94
        ),
        pitch=0,
        zoom=3,
        style='light'
    ),
)




layout['title'] = 'Storm Events'

In [9]:
figure = dict(data=data, layout=layout)
py.iplot(figure, filename='USA-storm-events-dropdown')

c:\program files\python37\lib\site-packages\chart_studio\plotly\plotly.py:248: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~akurgat/0 or inside your plot.ly account where it is named 'USA-storm-events-dropdown'

c:\program files\python37\lib\site-packages\IPython\core\display.py:694: UserWarning:

Consider using IPython.display.IFrame instead