In [11]:
# https://api.airtable.com/v0/appUIAnw6FdGAsscF/January%202021?api_key=keyXzDYJuRPlv4rvI
#https://towardsdatascience.com/downloading-airtable-data-into-python-89e5c7107a24

In [3]:
api_key = "keyXzDYJuRPlv4rvI"
headers = {"Authorization": "Bearer {}".format(api_key)}

In [4]:
base_id = "appUIAnw6FdGAsscF"
table_name = "January%202021"
url = "https://api.airtable.com/v0/" + base_id + "/" + table_name

In [10]:
import requests
response = requests.get(url, headers=headers)
airtable_response = response.json()

In [9]:
#airtable_records = airtable_response['records']
#airtable_records

In [20]:
import pandas as pd
airtable_rows = []
for record in airtable_records:
    airtable_rows.append(record['fields'])

In [21]:
df= pd.DataFrame(airtable_rows)

In [22]:
df.head()

,name,Email address,First Name,Last Name,Phone,Acqusition Platform,Cohort,Acceptance email sent,Accepted offer,python Familiarization email sent,...,Amount paid,Submission date,country,Highest Level of education,Employment Status,Why are you interested in this course,How do you want to attend your classes,Field of Study,Company name,Job Title
0,Stephen Mutebi,stphnlwnga@gmail.com,Stephen,Mutebi,(071) 977-0198,Google,January,yes,yes,yes,...,35000,2020-11-16T15:40:00.000Z,Kenya,Degree,Self Employed,Curiosity and familiarity with some topics cov...,Online,BSc. Biology,NaN,NaN
1,NaN,nabisereangela@gmail.com,Angella Rose,Nabisere,256754728227,Facebook,January,yes,yes,yes,...,35000,2020-12-02T13:05:00.000Z,Uganda,Degree,Employed,to expand and acquire more skills in data scie...,Online,BSc in Business Statistics,"Ministry of Finance, Planning and Economic Dev...",Research Assistant
2,NaN,oswardz@zambia.co.zm,Osward,Zulu,+260954562156,Facebook,January,yes,yes,yes,...,15000,2020-12-09T10:44:00.000Z,Zambia,Degree,Employed,To enhance my skills,Online,BSc. Computer Science,Zambia Public Procurement Authority,Content Administrator
3,Eric Mwangi,ericmwangi82@gmail.com,Eric,Mwangi,+254700400581,Google,January,yes,yes,yes,...,24000,2020-11-18T18:29:00.000Z,Kenya,Degree,Employed,"With the recent growth in IT, Data is very key...",Online,Computer Science,Kenya Medical Supplies Authority,Systems Developer
4,Claudine Wangari Gachiri,claudinewanga@gmail.com,Claudine,Wangari,(071) 594-4071,Facebook,January,yes,yes,yes,...,21000,2020-11-23T15:41:00.000Z,Kenya,Degree,Employed,To improve my data science skill and become mo...,Online,B.a Informatics and Computer Science,Qhala,Junior Data Scientist

In [23]:
df.columns

Index(['name', 'Email address', 'First Name', 'Last Name', 'Phone',
       'Acqusition Platform', 'Cohort ', 'Acceptance email sent',
       'Accepted offer', 'python Familiarization email sent',
       'Call confirmation', 'Client paid', 'Amount paid', 'Submission date',
       'country', 'Highest Level of education', 'Employment Status',
       'Why are you interested in this course',
       'How do you want to attend your classes', 'Field of Study',
       'Company name', 'Job Title'],
      dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   name                                    3 non-null      object
 1   Email address                           5 non-null      object
 2   First Name                              5 non-null      object
 3   Last Name                               5 non-null      object
 4   Phone                                   5 non-null      object
 5   Acqusition Platform                     5 non-null      object
 6   Cohort                                  5 non-null      object
 7   Acceptance email sent                   5 non-null      object
 8   Accepted offer                          5 non-null      object
 9   python Familiarization email sent       5 non-null      object
 10  Call confirmation                       5 non-null      object
 11  Client paid                             5 non-null      object
 12  Amount paid                             5 non-null      int64
 13  Submission date                         5 non-null      object
 14  country                                 5 non-null      object
 15  Highest Level of education              5 non-null      object
 16  Employment Status                       5 non-null      object
 17  Why are you interested in this course   5 non-null      object
 18  How do you want to attend your classes  5 non-null      object
 19  Field of Study                          5 non-null      object
 20  Company name                            4 non-null      object
 21  Job Title                               4 non-null      object
dtypes: int64(1), object(21)
memory usage: 1008.0+ bytes

In [ ]:
az 900
ai 100
certificate issued 
Project submited 
project url

AttributeError: 'list' object has no attribute 'columns'