In [2]:
import pandas as pd
import re

In [3]:
rawdata = {'data': ['2018-01-01 35 20736.87      Paul',
                    '2017-06-15 67 10567.70      Harry',
                    '2015-07-23 01 3873.90      Noel',
                    '2011-05-12 56 82320.65      John',
                    '2010-03-26 21 28737.01      Sally',
                    '2016-08-19 82 80327.63      Mary',
                    '2018-08-12 90 30467.92     Steve']}

In [4]:
rawdata

{'data': ['2018-01-01 35 20736.87      Paul',
  '2017-06-15 67 10567.70      Harry',
  '2015-07-23 01 3873.90      Noel',
  '2011-05-12 56 82320.65      John',
  '2010-03-26 21 28737.01      Sally',
  '2016-08-19 82 80327.63      Mary',
  '2018-08-12 90 30467.92     Steve']}

In [5]:
dataf = pd.DataFrame(rawdata, columns = ['data'])

In [6]:
dataf.head()

                                data
0   2018-01-01 35 20736.87      Paul
1  2017-06-15 67 10567.70      Harry
2    2015-07-23 01 3873.90      Noel
3   2011-05-12 56 82320.65      John
4  2010-03-26 21 28737.01      Sally

In [10]:
dataf['Emp_name']=dataf['data'].str.extract('([A-Z]/w{0,})',expand = True)
dataf['Emp_name']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
Name: Emp_name, dtype: object

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
Name: Emp_name, dtype: object

In [12]:
dataf['Emp_name']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
Name: Emp_name, dtype: object