In [1]:
print('john ')

john

In [2]:
2+2

4

In [3]:
myname = 'John m'

In [4]:
myname

'John m'

In [5]:
numbers =6

In [6]:
numbers

6

In [7]:
# simple program to add 6 & 5

five=5
six=6

In [8]:
five+six

11

In [11]:
no = 12.153486294984
name = 'john'
age= 5


print('my number is {} and my{} name is {}'.format(no,age, name))


print(f'my number is {no} and my {age}name is {name}')

my number is 12.153486294984 and my5 name is john
my number is 12.153486294984 and my 5name is john

In [13]:
s = 'hello'

In [15]:
s[4]

'o'

In [19]:
domestic_animal=['cat','dog']

In [20]:
domestic_animal[1]

'dog'

In [23]:
d={'firtname':'john','Age':123}

In [24]:
d['firtname']

'john'

In [25]:
numbers =[1,1,1,1,1,2,2,2,2,]


set(numbers)

{1, 2}

In [28]:
numbers =range(2,6, 10)
numbers

range(2, 6, 10)

In [31]:
oddno=list()
oddno

[1, 3, 5, 7, 9]

In [ ]:
range(1 ,10,2)

In [33]:

if  :
    print ('hbfdhfwaehdewjd,k')

hbfdhfwaehdewjd,k

In [36]:
animals= [6,7]


for brah in animals:
    print(brah*2)

12
14

In [ ]:
[brah*2 for brah in animals]

In [ ]:
replace()

range()

In [40]:

def printname(x):
    '''Demonstrates triple double quotes 
    docstrings and does nothing really.'''
    
    print(x)

In [39]:
printname()

john

In [ ]:
range()

NameError: name 'domestic_animal' is not defined

In [41]:
def multiple(x,y):
    '''multiply 2 numbers '''
    ans=x*y
    print(ans)

In [42]:
multiple(5,6)

30

In [ ]:
import pandas as pd

In [ ]:
pd.read_excells('mtsheet')