In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("sample_real_estate_data.csv")

In [3]:
df.head(10)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000.0
1  100002000.0   197.0   LEXINGTON            N            3        0   100.0
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12            1      NaN   700.0
4          NaN   203.0    BERKELEY            Y            3        2  1600.0
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y            1        1     NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800.0

In [4]:
#standard missing value

In [5]:
df["ST_NUM"].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [6]:
# non stardard missing value 
df["NUM_BEDROOMS"].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

In [7]:
missing_value= ['n/a','na','--']
df=pd.read_csv("sample_real_estate_data.csv",na_values=missing_value)

In [8]:
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0        0   100.0
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [9]:
df["NUM_BEDROOMS"].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: NUM_BEDROOMS, dtype: bool

In [10]:
#unexpected missing value 
count=0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[count,'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    count+=1

NameError: name 'np' is not defined

In [ ]:
df['OWN_OCCUPIED'].isnull()

In [ ]:
# summarize missing value 
df.isnull().sum()

In [ ]:
#if any missing value 
df.isnull().values.any()

In [ ]:

from sklearn.preprocessing import Imputer


X = df.iloc[:,:-1].values
Y = df.iloc[:,6]
imput = Imputer(missing_values = 'NaN', strategy= 'mean', axis=0)
imput = imput.fit(X[:,1:2])
X[:,1:2] = imput.transform(X[:,1:2])
X[:,1:2]

In [ ]:
median = df['NUM_BEDROOMS'].median()
df['NUM_BEDROOMS'].fillna(median, inplace=True)
df

In [ ]:
mean_no = df['ST_NUM'].mean()
df['ST_NUM'].fillna(mean_no, inplace=True)
df

# OneHot(category)

In [1]:
df=pd.read_csv('MallCustomers.csv')

NameError: name 'pd' is not defined